/* Reset basic styles */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #fff;
    color: #000;
  }


  h1, h2, h3, h4, h5, h6 {
    font-family: "Bodoni Moda", serif;
    font-weight: 400;
  }
  